*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    min-width: 100vh;
    min-height: 100vh;
}

header{
  width: 100%;
  height: 13vh;
  background-color: #e25816   ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vh;
}

header img{
  width: 100%;
  max-width: 17vh;
}

header div ul{
  list-style: none;
  display: flex;
}
header div ul li {
  margin-right: 1.5vh;
  font-size: 1.2em;
}
header div ul li a{
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
 
}
header div ul li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -1px;
  left: 50%;
  background-color: white;
  transition: width 0.3s ease, left 0.3s ease;
}
header div ul li a:hover::before {
  width: 100%;
  left: 0;
}

/*#######################################################################*/
figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
  
    margin-right: 5vh;
}
figure img{
  width: 100%;
    max-width: 30vh;
}
  figure > * {
    grid-area: 1/1;
    transition: .4s;
  }
  figure figcaption {
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: #0000;
    padding: .75rem;
    background: var(--c,#0009);
    clip-path: inset(0 var(--_i,100%) 0 0);
    -webkit-mask:
      linear-gradient(#000 0 0),
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box;
    margin: -1px;
  }
  figure:hover figcaption{
    --_i: 0%;
  }
  figure:hover img {
    
    transform: scale(1.2);
  }
  @supports not (-webkit-mask-clip: text) {
    figure figcaption {
     -webkit-mask: none;
     color: #fff;
    }
  }
  
main{
    margin: 0;
    min-height: 100vh;
    
    display: flex;
    flex-wrap: wrap;
    background: #425a52;
    gap: 1vh; 
    justify-content: center;

    padding-top: 2vh;
    width: 100%;
    height: 100%;
}
